.mypy_cache
.shamo
.eggs
.cake_*
test-out/
dist
*.egg-info
.idea/
.DS_Store
__pycache__
*.status
*.pyc
*.log
.coverage
coverage.xml
.coverage.*
hashstore/bakery/app
hashstore/app
node_modules/
package-lock.json
Notebooks/.ipynb_checkpoints/
coverage_html_report/
Pipfile*
build